:root {
    --centered: {
        text-align: center;
    }
    --footerHeight: 70px;
}

.widgets-ydfooter {
    & .footer {
        @apply --centered;
        height: var(--footerHeight);
        line-height: var(--footerHeight);
        font-size: 10px;
        color: #666;
        position: absolute;
        width: 100%;
        bottom: 0;
        box-shadow: 0 0 10px #000;
    }
}